__pycache__/
*.pyc
venv/
.venv/
.ipynb_checkpoints/
Data/
Code/C-
EEGNet/
Code/EEGModels
key
key.pub
archive\Code\C-
archive/Code/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A01E.mat
archive/Code/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A01T.mat
archive/Code/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A02E.mat
archive/Code/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A02T.mat
archive/Code/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A03E.mat
archive/Code/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A03T.mat
archive/Code/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A04E.mat
archive/Code/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A04T.mat
archive/Code/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A05E.mat
archive/Code/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A05T.mat
archive/Code/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A06E.mat
archive/Code/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A06T.mat
archive/Code/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A07E.mat
archive/Code/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A07T.mat
archive/Code/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A08E.mat
archive/Code/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A08T.mat
archive/Code/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A09E.mat
archive/Code/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A09T.mat
scripts/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A01E.mat
scripts/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A01T.mat
scripts/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A02E.mat
scripts/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A02T.mat
scripts/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A03E.mat
scripts/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A03T.mat
scripts/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A04E.mat
scripts/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A04T.mat
scripts/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A05E.mat
scripts/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A05T.mat
scripts/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A06E.mat
scripts/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A06T.mat
scripts/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A07E.mat
scripts/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A07T.mat
scripts/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A08E.mat
scripts/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A08T.mat
scripts/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A09E.mat
scripts/C-/Users/Hzaab/mne_data/MNE-bnci-data/~bci/database/001-2014/A09T.mat
